@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: transparent; 
}